@page "/user/profile"
@layout MainLayout
@attribute [Authorize(Roles = "Admin")]

<div class="">
    <AppBar LogoutCallback="@OnLogout" PageTitle="Profil" />

    @if (_isLoading)
    {
        <div class="container">
            <label>Loading...</label>
        </div>
    }
    else
    {
        <div class="container p-4">
            <ProfileForm Profile="ProfileData" UserId="_userId" />
        </div>
    }
</div>
